.topBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

.title {
    font-size: 9vw;
    color: var(--colorBlack);
    margin-top: 4.833333vw;
    text-align: center;
}

.text {
    font-size: 3.4vw;
    color: var(--colorBlack);
    margin-top: 3vw;
    text-align: center;
    max-width: 70vw;
}

.helperText {
    font-size: 4vw;
    color: var(--colorBlack);
    margin-top: 17vw;
    text-align: center;
    max-width: 70vw;
}

.smsButton {
    margin-top: 17vw;
}

.downloadButton {
    margin-top: 1vw;
}

.button {
    position: absolute;
    bottom: 16vw;
    z-index: 2;
}