.popup_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--colorLightGray);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    z-index: 9999999;
    /* position: sticky; */
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    position: relative;
}

.hide_app_download_popup {
    display: none;
}

.subTitle {
    font-size: 2.8vw;
    color: var(--colorBlack-050);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform var(--trDur) ease-out;
    color: #545454;
}

.app_download_logo {
    margin-right: 10px;
}

.app_get_button {
    background-color: black;
    background: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 24px;
    cursor: pointer;
    margin: auto;
    margin-right: 15px;
}

.close_button {
    position: absolute;
    right: -8px;
    top:-10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
}